{{#extend "head"}}
    <link rel="stylesheet" href="css/list.css"/>
{{/extend}}

<div class="container-list">
{{#each entrada}}
  {{#if (conditions result)}}
  <div class="principal-div is-green">
      <div class="date-div"> {{this.day}} </div>
      <div class="entrada-div">R${{this.entrada}}</div>
      <div class="porcento-div"> {{this.porcentagem}}% </div>
      <div class="lucro"> + R${{this.lucro}}</div>
      <form action="/delete" method="POST">
        <input type="hidden" name = "id" value="{{this.id}}" >
        <input type="submit" class = "op-button" value="DELETE">
      </form>
      <form action="/update" method="POST">
        <input type="hidden" name = "id" value="{{this.id}}" >
        <input type="submit" class = "op-button" value="UPDATE">
      </form>
  </div>
  {{else}}
  <div class="principal-div is-red">
      <div class="date-div"> {{this.day}} </div>
      <div class="entrada-div">R${{this.entrada}}</div>
      <div class="porcento-div"> {{this.porcentagem}}% </div>
      <div class="lucro">R${{this.lucro}}</div>
      <form action="/delete" method="POST">
        <input type="hidden" name = "id" value = "{{this.id}}">
        <input type="submit" value="DELETE">
      </form>
      <form action="/update" method="POST">
        <input type="hidden" name = "id" value="{{this.id}}" >
        <input type="submit" class = "op-button" value="UPDATE">
      </form>
  </div>
  {{/if}}
  
{{/each}}
</div>


